/*---------------INDEX--------------*/
#mainpage{
    background-color: #1e1f1f;
    margin: 0 800px;
}

.title{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

.container{
    margin: 0 auto;
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: visible;
}
.image{
    width: 100px;
    height: 100px;
}
.desc{
    text-shadow: 0px 0px 5px black;
    color: white;
    display: inline
}
/*---------------PAGES--------------*/
